# IntelliJ IDEA
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# unwanted git repo folder
git-filter-repo/

# Maven/Gradle build folders
target/

# Build artifacts
*.jar
*.log
